/* tailwind default */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* consistent focus styles on all components */
  * {
    @apply focus:outline-none;
    @apply focus-visible:ring-1;
    @apply focus-visible:ring-black;
  }

  a {
    @apply hover:underline;
  }

}

@layer components {
  .list-menu-item {
    @apply inline p-2 hover:bg-purple-800;
  }
}

@layer utilities {
  .dark-bg {
    @apply focus-visible:ring-white;
  }
}